  }
        #ana1 {
            display: none;
            text-align: center;
            margin-top: 20px;
        

}

.container-ls1 {
    padding: 10px;
    max-width: 600px;
    margin: 0 auto;
}

footer1 {
    text-align: center;
    font-size: 14px;
    color: #000; 
    padding: 10px 0;
    font-family: 'Tajawal', sans-serif;
}

.logo1 {
    width: 100px;
    height: 100px;
    margin-top: 4px;
}

.item12 {
    cursor: pointer;
    background-image: linear-gradient(138deg, #ffc400 -41%, #ff4500 231%)!important;
    color: #fff; 
    border-radius: 8px;
    margin: 15px 0;
    padding: 15px;
    text-align: center;
}

.item12 img {
    width: 100px;
    height: 100px;
    margin-top: 10px;
}

.hero1 {
    width: 100%;
    margin: 20px 0;
}

.bt1 {
    animation: zoom-in-zoom-out 1s ease infinite;
}

a, a:hover {
    color: #000; 
    text-decoration: none;
}

        #abdo1 {
            width: 100%;
            padding: 10px;
            background-color: #0066CC;
            color: white;
            border: none;
            border-radius: 5px;
            cursor: pointer;
            position: relative;
            overflow: hidden;
            box-shadow: 0 0 10px rgba(0, 123, 255, 0.5);
            transition: background-color 0.3s ease, box-shadow 0.3s ease;
        }
        #abdo1:hover {
            background-color: #0066CC;
            animation: pulse-shadow 1s infinite;
        }
        @keyframes pulse-shadow {
            0% {
                box-shadow: 0 0 10px rgba(0, 123, 255, 0.5);
            }
            50% {
                box-shadow: 0 0 20px rgba(0, 123, 255, 0.8);
            }
            100% {
                box-shadow: 0 0 10px rgba(0, 123, 255, 0.5);
            }
        }
        #loadingBar1 {
            width: 0;
            height: 5px;
            background-color: #007BFF;
            position: absolute;
            bottom: 0;
            left: 0;
            transition: width 5s linear;
        }
        #linksContainer1 {
            margin-top: 20px;
        }
        .victor1 {
            background-color: #fff;
            border: 2px solid #ddd;
            border-radius: 5px;
            padding: 10px;
            margin-bottom: 10px;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
            display: flex;
            align-items: center;
        }
        .victor1 img {
            width: 50px; 
            height: 50px;
            margin-right: 10px;
        
        }
        .victor1 a {
            text-decoration: none;
            color: #007BFF;
            word-break: break-word;
        }
        .victor1 a:hover {
            text-decoration: underline;
        }
        .link-title {
            font-weight: bold;
            margin-right: 10px;
        }
        #loading1 {
            display: none;
            text-align: center;
            margin-top: 20px;
        
        }
        #countdown1 {
            font-size: 2.2em;
            margin: 10px 0;
            text-align: center;
        }
        #countdown1 img {
            width: 50px; 
            height: 30px; 
        }

